#root {
    margin: 0;
  }

  .contenedorImagenes {
    display: flex; 
    width: 100vw; 
    height: 100vh; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; 
  }

  .tituloCentral {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em; 
    color: white; 
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.847); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    text-align: center; 
  }
  
  
  .imagenInteractiva {
    cursor: pointer;
    width: 50%; 
    height: 100%; 
    object-fit: cover; 
    transition: filter 0.5s ease, transform 0.5s ease; 
    filter: blur(8px); 
  }
  
  .imagenInteractiva:hover {
    filter: blur(0); 
    transform: scale(1.05); 
  }
  